.text-info{
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-info h3{
    text-transform: uppercase;
    padding: 2rem;
    font-size: 5rem;
}

.text-info span{
    color: #F34EEC;
    font-weight: bold;
    text-transform: uppercase;
}







@media only screen and (max-width: 860px){
    .text-info h3{
        font-size: 4rem;
    }
}


@media only screen and (max-width: 510px){
    .text-info h3{
        font-size: 3rem;
    }

    .text-info{
        font-size: 1.3rem;
        padding: 2rem;
    }
}